# SUPABASE CONFIGURATION
# ============================================
NEXT_PUBLIC_SUPABASE_URL=https://yjbepheunwaycutnnbin.supabase.co/
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxlZGd3Y2tuY2l4eWp1YmRrbGFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNDY2MDksImV4cCI6MjA5NDkyMjYwOX0.sCX9WSuGcDw3dMlFulptQLevxKDR00EYe-RUcNsg2OI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxlZGd3Y2tuY2l4eWp1YmRrbGFrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTM0NjYwOSwiZXhwIjoyMDk0OTIyNjA5fQ.cgHAli4HjMMApCAC_PSZEq4RnCKD9qwoc_lRW1RBP2M

# ============================================
# SUPABASE STORAGE CONFIGURATION
# ============================================
# Name of the Supabase Storage bucket to use for media.
SUPABASE_BUCKET_NAME=wachat-media-bucket